table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto 80px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    color: #fff;
}

thead th {
    background-color: rgba(197, 65, 43, 1);
    top: 0;
    z-index: 2;
}

tbody td:first-child {
    left: 0;
}

td img {
    width: 50px;
    height: auto;
}
table img {
    width:100px;
    height: 100px;
    object-fit: contain;
}
